<h1>User Signup Confirmation</h1>

<p>
  Welcome <%= @user.user_name %>,

  Thank you for joining Local Swap! If you have any questions about this application's mission then please take a look at the about page.

  Happy Swapping!
  Patrick

</p>

<p>
  find me in app/views/user_mailer/signup_confirmation.html.erb
</p>
