<h1>Category Page</h1>
<hr>
<br>
<ul class="list-group well">
  <%= content_tag_for(:li, @categories, class: "list-group-item") do |category| %>
  <%= link_to category.name, category_path(category) %>
  <% end %>
</ul>
<hr>
<%= link_to "Add a category", new_category_path, :class => "btn btn-success btn-lg",  :id => 'new_category', remote: true %>
