<h1>category Page</h1>
<hr>
<ul class="list-group well">
  <% @categories.each do |category| %>
    <li class="list-group-item"><strong><%= category.name %></strong> <%= link_to "category Page", category_path(category), :class => "btn btn-info btn-sm pull-right" %></li>
  <% end %>
</ul>
<hr>
<%= link_to "Add a category", new_category_path, :class => "btn-lg"%>
