<ul class="flex-list" id="products">
    <%= content_tag_for(:li, products.each, class: "flex-product well") do |product| %>
    <%= link_to product.name, category_product_path(product.category, product)%>
    <span class="pull-right"><strong style="color:green;">Category: </strong><%= link_to product.category.name, category_path(product.category)%></span>
    <br>
    <%= image_tag(product.image.url(:thumb)) %>
    <% end %>
</ul>
